
@import url("./variables.css");

.t-chat .o-content {
    position: absolute;
    top: var(--body-padding-top);
    right: var(--body-padding-right);
    bottom: var(--body-padding-bottom);
    left: var(--body-padding-left);
    outline: 0.1rem dashed orangered;

    font-family: var(--ui-font);
}

.t-chat .o-form[name=message] {
    padding: 0.8rem;
    background-color: var(--clr-white);
    border-radius: 0.4rem;
    box-shadow: var(--shadow-2dp);
}

.t-chat .o-form .c-field[name=text] {
    border: 0;
}