
/* ========================================================================
   Theme: Logical Fallacies
 ========================================================================== */

.t-logical-fallacies {
    --bg-color: 242, 242, 242;
}

/* Subobject: Intro
 ========================================================================== */

.o-content__intro {
    position: relative;
    padding-top: 3rem;
    padding-bottom: 3.4rem;
    line-height: 1;
    border-bottom: 0.3rem solid currentColor;
}
.o-content__intro::after {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -0.6rem;
    border-bottom: 0.1rem solid currentColor;
}

/*h2*/
.o-content__intro__title {
    margin-bottom: 0;
    font-size: 3rem;
    line-height: 3.4rem;
}

.o-content__intro__title-desc {
    display: block;
    padding-left: 4.6rem;
    font-size: 3.6rem;
    line-height: inherit;
}

.o-content__intro__title + * {
    margin-top: 3.4rem;
}

/*p*/
.o-content__intro p {
    font-size: 1.8rem;
    line-height: 2.4rem;
}

/* Object: Fallacy
 ========================================================================== */

.o-fallacies-container {
    
}

.o-fallacy {
    margin-top: 3.2rem;
}

.o-fallacy__title {
    font-family: var(--caption-font);
    font-size: 2.4rem;
    font-weight: 600;
}

.o-fallacy__title ul {
    padding-left: 3.2rem;
}

.o-fallacy__text {
    padding: 3.2rem;
}

.o-fallacy__desc {
    max-width: 60ex;
    font-size: 1.8rem;
}

.o-fallacy__desc ul {
    padding-left: 2rem;
}

.o-fallacy__example {
    max-width: 80ex;
    font-size: 1.6rem;
}

.o-fallacy__example ul {
    padding-left: 2rem;
}
