
/* Elements
 ========================================================================== */

html {
    height: 100%;
    overflow-x: hidden;
    font-size: 62.5%;
    text-size-adjust: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;

    background-color: #f8f7f6;
    background-position: top center;

    font-family: 'Fira Sans', sans-serif;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.6;
    color: black;
}


/* Objects
 ========================================================================== */

.o-container {
    display: block;
    width: auto;
    margin: 0 auto;
    padding: 6.4rem 0;
}
.o-container:before,
.o-container:after {
    content: " ";
    display: table;
}
.o-container:after { clear: both; }


/* Media queries
 ========================================================================== */

@media (min-width: 1360px) {
    .o-container { max-width: 130.4rem; }
}

@media (min-width: 1180px) and (max-width: 1359px) {
    .o-container { max-width: 111.2rem; }
}

@media (min-width: 1024px) and (max-width: 1179px) {
    .o-container { max-width: 92rem; }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .o-container { max-width: 72rem; }
}

@media (min-width: 480px) and (max-width: 767px) {
    .o-container { max-width: 46.4rem; }
}

@media (max-width: 240px) {
    .o-container { max-width: 32rem; }
}