// Variables
// ========================================================================

@t-bpstudio-background-image: url('/img/bg/brickwall.png');
@t-bpstudio-background-image-retina: url('/img/bg/brickwall_@2X.png');


/* ========================================================================
   Theme of the site
 ========================================================================== */

/*body*/
.t-bpstudio {
	background-image: @t-bpstudio-background-image;

	// media query for retina display
	@media only screen and (-webkit-min-device-pixel-ratio: 2),
		only screen and (min-resolution: 192dpi),
		only screen and (min-resolution: 2dppx)
	{
		background-image: @t-bpstudio-background-image-retina;
	}
}