
/* ========================================================================
    Edging
 ========================================================================== */

.o-edging {
    position: fixed;
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 3;
    font-family: 'Nexa Replica RU';
    user-select: none;
    -ms-user-select: none;
}

/* Right Edge
 ========================================================================== */

.o-edging__right {
    --width: var(--edging-right-width);
}

.o-edging__right {
    width: calc(100vh - var(--body-padding-right) - var(--body-padding-left));
    height: var(--width);
    line-height: var(--width);

    position: absolute;
    top: var(--body-padding-top);
    left: calc(100vw - var(--body-padding-right));
    z-index: 10;

    transform-origin: left top;
    transform: rotate(90deg);
}

.o-edging__right .c-line {
    position: absolute;
    top: calc((var(--width) - var(--stroke-width)/2) / 2);
    left: 0;
    z-index: 1;
}

.o-edging__right .c-fullname,
.o-edging__right .c-links-container {
    position: relative;
    z-index: 2;
    background-color: var(--body-background-color);
}

.o-edging__right .c-fullname {
    padding-right: var(--space-default);
    vertical-align: text-top;
    line-height: inherit;
}

.o-edging__right .c-links-container {
    padding-left: var(--space-default);
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 0.0001em;
}

.o-edging__right .c-link {
    transform-origin: center;
    transform: rotate(-90deg);
}

.o-edging__right .c-link + .c-link {
    margin-left: 0.4rem;
}

.o-edging__right .c-link .icon::before {
    font-size: var(--width);
}

/* Bottom Edge
 ========================================================================== */

.o-edging__bottom {
    position: absolute;
    bottom: var(--body-padding-bottom);
    right: calc(var(--body-padding-right) + var(--edging-right-width) * 3);
    text-transform: uppercase;
}

.o-edging__bottom .bp-experience,
.o-edging__bottom .bp-link-feedback,
.o-edging__bottom .bp-experience {
    display: inline-block;
}
