
/* ========================================================================
    Navigation
 ========================================================================== */

.o-nav {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    visibility: hidden;
    contain: content;
}

.o-nav[aria-expanded=true] {
    display: block;
}

/* Control Element
 ========================================================================== */
 
.o-nav-control {
    display: inline-block;
    width: 3.2rem;
    height: 3.2rem;
}

/* svg */
.o-nav-control .c-icon--bars {
    width: inherit;
    height: inherit;
}

.o-nav-control .c-icon--bars rect {
    width: 2.6rem;
    height: 0.4rem;
    fill: var(--text-color);
    transform-origin: center;
}

.o-nav-control[aria-expanded=false] .c-icon--bars rect {
    opacity: 1;
    transform: rotate(0deg) translateY(0);
}

.o-nav-control[aria-expanded=true] .c-icon--bars rect:nth-child(1),
.o-nav-control[aria-expanded=true] .c-icon--bars rect:nth-child(3) {
    width: 2.5rem;
}

.o-nav-control[aria-expanded=true] .c-icon--bars rect:nth-child(1) {
    transform: rotate(45deg) translateY(0.75rem);
}
.o-nav-control[aria-expanded=true] .c-icon--bars rect:nth-child(2) {
    opacity: 0;
}
.o-nav-control[aria-expanded=true] .c-icon--bars rect:nth-child(3) {
    transform: rotate(-45deg) translateY(-0.75rem);
}