
/* ========================================================================
    Sidewall
 ========================================================================== */

.o-side {
    position: fixed;
    top: 0;
    right: 2rem;
    bottom: auto;
    left: auto;
    z-index: 3;
    width: 100vh;
    transform: rotate(90deg) translateX(100%);
    transform-origin: right top;

    font-family: var(--caption-font, sans-serif);
    font-size: 2.4rem;
    font-weight: 700;
    text-transform: uppercase;
    white-space: nowrap;

    user-select: none;
    outline: 1px dashed var(--clr-orange);
}

/* String
 ========================================================================== */

.o-side__string span {
    outline: 1px dashed var(--clr-green);
}

.o-side__string + .o-side__string::before {
    content: '•';
}

.o-side__string:nth-child(1) span + span {
    margin-left: -0.5rem;
}

.o-side__string:nth-child(1) {
    position: fixed;
    display: inline-block;
    transform: rotate(-90deg);
    transform-origin: right top;
}

.o-side__string:nth-child(1) > span:last-child {

}

/* Links
 ========================================================================== */

.o-side .c-links-container {
    position: absolute;
    right: 2rem;
    bottom: 0;
}

.o-side .c-link {
    transform: rotate(-90deg);
    text-decoration: none;
    margin: 0rem 0.4rem -0.6rem;
}

.o-side .c-link .icon {
    font-size: 3.2rem;
}
