
/* ========================================================================
    Sidewall
 ========================================================================== */

.o-side {
    position: fixed;
    top: 0;
    right: 2rem;
    bottom: auto;
    left: auto;
    z-index: 3;
    width: 100vh;
    transform: rotate(90deg) translateX(100%);
    transform-origin: right top;

    font-family: var(--caption-font, sans-serif);
    font-size: 2.4rem;
    font-weight: 700;
    text-transform: uppercase;
    white-space: nowrap;

    user-select: none;
    outline: 1px dashed var(--clr-orange);
}

/* String
 ========================================================================== */

.o-side__string + .o-side__string::before {
    content: '•';
}

.o-side__string:nth-child(1) span + span {
    margin-left: -0.5rem;
}

.o-side__string:nth-child(1) {
    display: inline-block;
    position: absolute;
    left: 2rem;
    top: 14.8rem;
    transform: rotate(-90deg);
    transform-origin: left top;
}

.o-side__string:nth-child(1) > span {
    display: inline-block;
    transform-origin: center bottom;
    outline: 1px dashed var(--clr-green);
}

/* И */
.o-side__string:nth-child(1) > span:nth-child(2) {
    transform: rotate(10deg) translate(-0.3rem, 0.2rem);
}

/* С */
.o-side__string:nth-child(1) > span:nth-child(3) {
    transform: rotate(20deg) translate(-0.5rem, 0.8rem);
}

.o-side__string:nth-child(1) > span:nth-child(4) {
    transform: rotate(30deg) translate(-0.4rem, 0.8rem);
}

/* П */
.o-side__string:nth-child(1) > span:nth-child(5) {
    transform: rotate(40deg) translate(0rem, 2.2rem);
}

/* А */
.o-side__string:nth-child(1) > span:nth-child(6) {
    transform: rotate(50deg) translate(0.6rem, 3.46rem);
}

/* Н */
.o-side__string:nth-child(1) > span:nth-child(7) {
    transform: rotate(60deg) translate(1.8rem, 4.8rem);
}

/* Ч */
.o-side__string:nth-child(1) > span:nth-child(8) {
    transform: rotate(72deg) translate(3.6rem, 6rem);
}

/* Е */
.o-side__string:nth-child(1) > span:nth-child(9) {
    transform: rotate(82deg) translate(5.8rem, 6.8rem);
}

.o-side__string:nth-child(1) > span:last-child {
    transform: rotate(90deg) translate(10rem, 9.3rem);
}

.o-side__string:nth-child(2) {
    margin-left: 18.6rem;
}

.c-side-curve {
    display: block;
    position: fixed;
    z-index: 10;
    top: 4.6rem;
    right: 4.6rem;
    width: 25rem;
    height: 25rem;
    border-radius: 0 8rem 0 0;
    border: 1px solid var(--clr-black);
    background-color: var(--clr-cyan);
    opacity: 0.6;
}

/* Links
 ========================================================================== */

.o-side .c-links-container {
    position: absolute;
    right: 2rem;
    bottom: 0;
}

.o-side .c-link {
    transform: rotate(-90deg);
    text-decoration: none;
    margin: 0rem 0.4rem -0.6rem;
}

.o-side .c-link .icon {
    font-size: 3.2rem;
}
