@font-face {
    font-family: 'UI Font';
    src: url('regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'UI Font';
    src: url('bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}