
/* Elements
 ========================================================================== */

html {
	height: 100%;
	overflow-x: hidden;
	font-size: 62.5%;
	text-size-adjust: 100%;
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
	background-color: #fafafa;

    font-family: 'Open Sans', sans-serif;
	font-size: 1.4rem;
	font-style: normal;
	font-weight: 400;
	line-height: 1.5;
	color: #212121;
}

a {
    display: inline-block;
    position: relative;
    color: #00838F;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    color: currentColor;
    margin: 0;
    line-height: 1;
}

h1 {
    font-size: 3rem;
    text-transform: uppercase;
}
h1 a::after {
    content: ' ';
    display: inline-block;
    position: absolute;
    bottom: -.5rem; left: 0;
    border-bottom: 2px solid currentColor;

    width: 0;
    transition: width .16s cubic-bezier(0.3, 0, 0.2, 1);
}
h1 a:hover::after {
    width: 100%;
}

h2 {
    font-size: 2.4rem;
}

/* Utilities
 ========================================================================== */

.u-font-light {
    font-weight: 300;
}