
/* ========================================================================
    Content
 ========================================================================== */

.o-content {
    padding-top: var(--body-padding-top);
    padding-right: var(--body-padding-right);
    padding-left: var(--body-padding-left);
    padding-bottom: var(--body-padding-bottom);
}