
/* ========================================================================
    Content
 ========================================================================== */

.o-content {
    position: absolute;
    top: var(--body-padding-top);
    left: var(--body-padding-left);
    right: var(--body-padding-right);
    bottom: 0;
    padding-bottom: var(--body-padding-bottom);
}