
/* ========================================================================
    Content
 ========================================================================== */

.o-content {
    padding-top: var(--body-padding-top);
    padding-right: var(--body-padding-right);
    padding-left: var(--body-padding-left);
    padding-bottom: var(--body-padding-bottom);
}

.o-content.s-centered {
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 40%;
    transform: translate(0, -50%);
}