@import url("./variables.css");

.o-message {
    display: block;
    width: max-content;
    padding: var(--unit-xs) var(--unit) var(--unit-sm);
    background-color: var(--clr-white);
    border-radius: var(--unit-sm);
    line-height: 1;
}

.o-message__text {
    font-size: 1.4rem;
    line-height: 2rem;
}

.o-message__signature {
    display: block;
    font-size: 1.1rem;
    font-style: italic;
    color: var(--clr-grey);
}

.o-message__signature::before {
    content: '//';
}

.o-message__text + .o-message__signature {
    margin-top: var(--unit-xs);
}

.o-message__author-name + .o-message__created-time::before {
    content: ', ';
}