
@import url("./variables.css");

/* Document
 ========================================================================== */

html {
    width: 100%;
    height: 100%;
    font-size: 62.5%;
}

body {
    width: 100%;
    height: 100%;
	margin: 0;
    background-color: var(--body-background-color);

    font-family: 'Nexa Replica RU';
    font-size: 1.6rem;
    font-weight: 600;
    color: #2c3b49;

    overflow: hidden;
}


/* Atoms
 ========================================================================== */

.bp-fullname,
.c-links-container,
.c-link {
    display: inline-block;
    vertical-align: middle;
    line-height: inherit;
}

.bp-fullname {
    font-size: 2.4rem;
    text-transform: uppercase;
}

.c-line {
    --stroke-width: 0.6rem;

    width: 100%;
    height: var(--stroke-width);
    background-color: currentColor;
}

.c-link {
    color: #8e84cd;
    text-decoration: none;
}


/* APP Layouts
 ========================================================================== */

.canvas,
.signature {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
}

.canvas {
    top: var(--body-padding-top);
    right: calc(var(--body-padding-right) + var(--signature-right-width) * 2);
    bottom: var(--body-padding-bottom);
    left: var(--body-padding-left);
    z-index: 1;
}

.content {
    position: relative;
    top: var(--body-padding-top);
    left: var(--body-padding-left);
    z-index: 3;
}

.signature {
    z-index: 2;
    user-select: none;
}


/* Content
 ========================================================================== */

.content {
    --content-width: 73.2rem;
}

.content__header {
    width: var(--content-width);
    border-bottom: 0.6rem solid currentColor;
}

.content__header__title {
    font-size: 6rem;
    line-height: 1.2;
    margin: 1.6rem 0 2rem;
}

.content__header__title.s-bigger {
    font-size: 7.2rem;
    margin: 5.4rem 0 4rem;
}

.content__text {
    display: block;
    width: var(--content-width);
    font-family: Georgia;
    font-size: 1.8rem;
    font-weight: normal;
    line-height: 2.6rem;
    padding-top: 0.8rem;
    padding-right: 3%;
    box-sizing: border-box;
    margin-top: 0.4rem;
    border-top: 0.2rem solid currentColor;
}


/* ========================================================================
   Signature
 ========================================================================== */

/* Right Edge
 ========================================================================== */

.signature__right {
    --width: var(--signature-right-width);
    --height: 100vh;

    width: calc(100vh - var(--body-padding-right) - var(--body-padding-left));
    height: var(--width);
    line-height: var(--width);

    position: absolute;
    top: var(--body-padding-top);
    left: calc(100vw - var(--body-padding-right));
    z-index: 10;

    transform-origin: left top;
    transform: rotate(90deg);
}

.signature__right .c-line {
    position: absolute;
    top: calc((var(--width) - var(--stroke-width)/2) / 2);
    left: 0;
    z-index: 1;
}

.signature__right .bp-fullname,
.signature__right .c-links-container {
    position: relative;
    z-index: 2;
    background-color: var(--body-background-color);
}

.signature__right .bp-fullname {
    padding-right: var(--space-default);
    vertical-align: text-top;
    line-height: inherit;
}

.signature__right .c-links-container {
    padding-left: var(--space-default);
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 0.0001em;
}

.signature__right .c-link {
    transform-origin: center;
    transform: rotate(-90deg);
}

.signature__right .c-link + .c-link {
    margin-left: 0.4rem;
}

.signature__right .c-link .icon::before {
    font-size: var(--width);
}

/* Bottom Edge
 ========================================================================== */

.signature__bottom {
    position: absolute;
    bottom: var(--body-padding-bottom);
    right: calc(var(--body-padding-right) + var(--signature-right-width) * 3);
    text-transform: uppercase;
}


/* ========================================================================
   Utilites
 ========================================================================== */

*[aria-hidden=true] {
    display: none;
    visibility: hidden;
}