
.app__epigraph,
.app__person-name,
.app__person-work {
	position: fixed;
}

.app__person-name {
	top: 1rem;
	left: 1rem;
}

.app__person-work {
	top: 1rem;
	right: 1rem;
}

.app__epigraph {
	left: 1rem;
	bottom: 1rem;
}