
/* Variables
 ========================================================================== */

.t-logical-fallacies {
    --font-secondary: 'Commissioner', sans-serif;
}


/* ========================================================================
   Theme: Logical Fallacies
 ========================================================================== */

/*main*/
.t-logical-fallacies {
    display: block;
    width: 100%;
}

/* Component: List
 ========================================================================== */

.t-logical-fallacies .list {}

.t-logical-fallacies .list__row {
    
}

.t-logical-fallacies .list__cell {
    
}

/* Object: Fallacy
 ========================================================================== */

/*dl*/
.t-logical-fallacies .item-container {
    display: contents;
}

/*dt*/
.t-logical-fallacies .item-title {
    font-family: var(--font-secondary);
}

.t-logical-fallacies .item-description {

}

.t-logical-fallacies .item-text {

}