
/* Variables
 ========================================================================== */

.t-logical-fallacies {
    --caption-font: 'Commissioner', sans-serif;
}



/* ========================================================================
   Theme: Logical Fallacies
 ========================================================================== */

.t-logical-fallacies {
    display: block;
    width: 100%;
    max-width: 80ex;
    margin: 6rem auto 12rem;
}

.t-logical-fallacies .item-container {
    display: contents;
}