
/* Variables
 ========================================================================== */

.t-logical-fallacies {
    --body-background-color: #f2f2f2;
    --font-secondary: 'Commissioner', sans-serif;
    --text-color: #212121;
}


/* ========================================================================
   Theme: Logical Fallacies
 ========================================================================== */

/*main*/
.t-logical-fallacies {
    display: block;
    width: 100%;
}

/* Component: List
 ========================================================================== */

.t-logical-fallacies .c-list {
    counter-reset: item;
}

.t-logical-fallacies .c-list__item::before {
    content: counter(item);
    counter-increment: item;
}

.t-logical-fallacies .c-list__cell {
    
}

/* Object: Intro
 ========================================================================== */

.t-logical-fallacies .o-intro {}
.t-logical-fallacies .o-intro__title {
    font-size: 4.8rem;
}
.t-logical-fallacies .o-intro__desc {
    font-size: 2.2rem;
}

/* Object: Fallacy
 ========================================================================== */

/*dl*/
.t-logical-fallacies .o-fallacy-container {
    display: contents;
}

/*dt*/
.t-logical-fallacies .o-fallacy__title {
    font-family: var(--font-secondary);
}

.t-logical-fallacies .o-fallacy__desc {

}

.t-logical-fallacies .o-fallacy__text {

}